@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#block{
    margin: 40px;
    height: 455px;
    border-radius: 10px;
    background-color: #EBF0FA;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 190px;
}
#computer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
    width: auto;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    flex-grow: 0;
}
#computer_img{
    height: auto;
    width: 910px;
}
#demo-version_div{
    display: flex;
    flex-direction: column;
    width: 538px;
    gap: 64px;
    padding: 0 0 0 72px;
}
#text_div{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
#demo-version_header{
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    font-family: Manrope;
    color: #1F4284;
}
#demo-version_p{
    margin: 0;
    width: 511px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
    font-family: Manrope;
    color: #727272;
}
#try_btn{
    background-color: #244C98;
    width: 341px;
    height: 68px;
    border-radius: 60px;
    padding: 12px 12px 12px 24px;
    color: white;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#circle{
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow_img{
    width: 30px;
    height: 30px;
    border-radius: 44px;
}

@media (max-width: 1440px) and (min-width: 801px){
    #computer_img{
        width: 680px;
    }
    #block{
        gap: 48px
    }
    #demo-version_header{
        font-weight: 400;
        font-size: 26px;
        line-height: 41.6px;
    }
}
@media (max-width: 800px) and (min-width: 300px){
    #block{
        flex-direction: column;
        height: auto;
        width: auto;
        margin: 20px;
        gap: 24px;
    }
    #demo-version_div{
        width: 100%;
        box-sizing: border-box;
        padding: 40px;
        gap: 3vh;
    }
    #demo-version_header{
        width: 100%;
        font-size: 20px;
        line-height: 32px;
    }
    #demo-version_p{
        width: 100%;
        font-size: 15px;
        line-height: 24px;
    }
    #try_btn{
        width: 279px;
        height: 56px;
        font-size: 15px;
        line-height: 24px;
    }
    #circle{
        width: 34px;
        height: 34px;
    }
    #arrow_img{
        width: 20px;
        height: 20px;
    }
    #computer_div{
        height: auto;
        width: 100%;
        overflow: visible;
    }
    #computer_img{
        height: auto;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}
@media (max-width: 480px){
    #demo-version_div{
        padding: 16px;
    }
    #demo-version_header{
        width: 100%;
        font-size: 17px;
        line-height: 27.2px;
    }
    #demo-version_p{
        width: 100%;
        font-size: 13px;
        line-height: 20.8px;
    }
    #try_btn{
        width: 100%;
        height: 56px;
        font-size: 15px;
        line-height: 24px;
    }
}