@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#block{
    margin: 40px;
    height: 455px;
    padding: 0 0 0 72px;
    border-radius: 10px;
    background-color: #EBF0FA;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 190px;
}
#computer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
    width: auto;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}
#computer_img{
    height: auto;
    width: 910px;
    display: block;
}
#demo-version_div{
    display: flex;
    flex-direction: column;
    width: 538px;
    gap: 64px;
}
#text_div{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
#demo-version_header{
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    font-family: Manrope;
    color: #1F4284;
}
#demo-version_p{
    margin: 0;
    width: 511px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27.2px;
    font-family: Manrope;
    color: #727272;
}
#try_btn{
    background-color: #244C98;
    width: 341px;
    height: 68px;
    border-radius: 60px;
    padding: 12px 12px 12px 24px;
    color: white;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#circle{
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow_img{
    width: 30px;
    height: 30px;
    border-radius: 44px;
}


